h1 {
   font-size: xxx-large;
   color: darkred;
}

p1 {
   font-size: large;
}

body {

   text-align: center;
   background: url("/img/Weinachten hintergrund.webp") no-repeat center center fixed;
   webkit-background-size: cover;
   moz-background-size: cover;
   o-background-size: cover;
   background-size: cover;
}

p2 {
   font-size: x-large;
}
script {

}
table {
   width: 45%;
   padding: 2%;
   position: absolute;
   left: 50%;
   top: 80%;
   transform: translate(-50%, -50%);
}
